
:root {
    --color-light: #EEEEEE;
    --color-accent: #4ECCA3;
    --color-middle:  #393E46;
    --color-dark: #232931;

    --font-primary: 'Oswald', sans-serif;
    --font-secondary: 'Lobster', cursive;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

/* General styles */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--color-dark);
    color: var(--color-middle);
    margin: 0;
    font-family: var(--font-primary);
    font-size: var(--fs-body);
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    font-family: var(--font-secondary);
    color: var(--color-accent);
}

a {
    text-decoration: none;
    color: var(--color-middle);
}

ul {
    list-style-type: none;
}

/* -- */

 /*MAIN NAV BAR DROPDOWN */
  
  /* Dropdown button */
  .dropdown .dropdown-btn {
    color: var(--color-middle);
    border: none;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: var(--color-accent);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* MAIN NAV BAR */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style-type: none;
    background-color: var(--color-light);
    color: var(--color-medium);
    border-radius: 30px;
    padding: 20px;
    margin: 15px;
}

.nav-link {
    padding: 0px 20px;
    font-size: var(--fs-body);
    transition: border 0s linear 100ms;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.nav-link:hover {
    border: 3px solid var(--color-accent);
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0%   { 
        transform: translateY(0); 
    }
    50%  { 
        transform: translateY(-10px); 
    }
    100% { 
        transform: translateY(0); 
    }
  }

  /* SIDE NAV BAR */

#mySidenav a {
    position: fixed;
    left: -110px;
    transition: 0.3s;
    padding: 15px;
    margin-top: 100px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
  }
  
  #mySidenav a:hover {
    left: 0;
  }
  
  #home {
    top: 20px;
    background-color: var(--color-accent);
  }
  
  #about {
    top: 80px;
    background-color: #808782;;
  }
  
  #projects {
    top: 140px;
    background-color: var(--color-accent);;
  }
  
  #contact {
    top: 200px;
    background-color: #808782;
  }

.logo {
    padding: 20px;
    margin-left: 30px;
    font-size: var(--fs-h3);
    color: var(--color-light);
    border: 3px solid #4ECCA3;
}

.about-img {
    border-radius: 50%;
    margin-left: 60;
    padding: 25px;
    width: 30%;
    float: left;
}

.about {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.aboutme-bubble {
    background-color: var(--color-light);
    border-radius: 25px;
    box-shadow: 6px 7px 11px 3px rgba(0, 0, 0, 0.89);
    width: 60%;
    padding: 10px;
}

.aboutme-bubble h1 {
    padding-left: 5px;
    animation: titleglow 3s ease 2;
}

@keyframes titleglow {
    0%,
    100% {
      color: var(--color-light);
      filter: blur(0.5px);
      text-shadow: 0 0 10px var(--color-accent), 0 0 20px var(--color-accent), 0 0 30px var(--color-accent),
        0 0 40px var(--color-accent), 0 0 50px var(--color-accent), 0 0 60px var(--color-accent);
    }
  
    50% {
      filter: blur(0);
      color: #fff;
      text-shadow: none;
    }
  }

.aboutme-bubble p {
    width: 90%;
}

.projects {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 15px;
    margin: 0 30px;
}

.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-title {
    display:flex;
    border: 3px solid var(--color-accent);
    max-width: 60%;
    margin: 40px 0;
    padding: 0 30px;
}

.project-img {
    border: solid 3px var(--color-accent);
    transition: transform .2s;
}

.project-img:hover {
   transform: scale(0.8, 0.8);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

 .contact {
    display: flex; 
    justify-content: center;
    background-color: var(--color-dark)

 }

 .contact-section {
     background-color: #FFF;
 }

 .contact-title {
    font-size: var(--fs-h3);
    text-align: center;
    letter-spacing: 2px;
    border: 3px solid var(--color-accent);
    color: var(--color-light);
    margin: 40px 0;
    padding: 0 50px;
 }

 .contact-form input {
    width: 60%;
    padding: 12px 10px;
    margin: 10px 0;
 }

 .contact-form {
    text-align: center;
    color: #EEEEEE;
    background-color: var(--color-dark);
 }

 #message {
    width: 60%;
    height: 60%;
    padding: 10px;
    margin: 10px;
 }

 .submit-btn,
 .reset-btn {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #EEEEEE;
    font-size: 18px;
    font-weight: 100;
    margin: 10px 5px;
    padding: 10px 20px;
    background-color: #393E46;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #4ECCA3 2px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }

 .submit-btn:hover,
 .reset-btn:hover {
    background: #4ECCA3;
    border: solid #393E46 2px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-decoration: none;
    margin-bottom: 30px;
 }

.contact {
    background-image: url("../img/streamlinehq-listening-feedback-customer-service-support-400.SVG");
    background-repeat: space;
    padding-top: 40px;
    margin-top: 20px;
}

 .social-logos {
    width: 60px;
    margin: 10px;
 }

 .social-logos:hover {
    filter: invert(71%) sepia(62%) saturate(377%) hue-rotate(107deg) brightness(90%) contrast(85%);
    box-shadow: 10px 10px #3b5998; 
    /* border: 3px solid #3b5998; box-shadow: 0 0 10px #3b5998 */
    transition: all 0.5s ease;
  }

 .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
 }

 footer p {
    text-align: center;
    color: var(--color-light);
 }

 /* Project pages */

.project-showcase img {
    width: 50%;
    margin: 30px;
}

.project-top,
.project-bottom {
    display: flex;
}

.project-top p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    padding: 10px 10px;
    margin: 0;
    color: var(--color-light);
    font-size: var(--fs-body);
    line-height: 22px;
}

.project-bottom p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    padding: 10px 10px;
    margin: 0 20px;
    color: var(--color-light);
    font-size: var(--fs-body);
    line-height: 22px;
}

@media all and (max-width: 768px) {
    .nav {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }

    .about {
        padding: 0;
    }
    
    .aboutme-bubble {
        text-align: center;
        margin: 0;
        padding: 5px;
        width: 90%;
    }

    .aboutme-bubble p {
        padding: 0 10px;
    }

    .about-img {
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .project-title {
        max-width: 90%;
    }

    .projects {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
        gap: 10px 0px; 
        grid-template-areas: 
            "."
            "."
            "."
            "."
            "."
            "."; 
    }

    /* extra pages */

    .project-showcase img {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 15px;
    }

    .project-bottom,
    .project-top {
        display: block;
        margin: 0 30px 30px;
    }
    
    .project-bottom p,
    .project-top p {
        margin: 0 auto;
        width: 100%;
        padding: 0;
    }
}
