
:root {
    --color-light: #EEEEEE;
    --color-accent: #4ECCA3;
    --color-middle:  #393E46;
    --color-dark: #232931;

    --font-primary: 'Oswald', sans-serif;
    --font-secondary: 'Lobster', cursive;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

/* General styles */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--color-dark);
    color: var(--color-middle);
    margin: 0;
    font-family: var(--font-primary);
    font-size: var(--fs-body);
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    font-family: var(--font-secondary);
    color: var(--color-accent);
}

a {
    text-decoration: none;
    color: var(--color-middle);
}

ul {
    list-style-type: none;
}

/* -- */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style-type: none;
    background-color: var(--color-light);
    color: var(--color-medium);
    border-radius: 30px;
    padding: 20px;
    margin: 15px;
}

.nav-link {
    width: 25%;
    justify-content: space-between;
    padding: 0 30px;
    font-size: var(--fs-body);
    transition: border 0s linear 100ms;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.nav-link:hover {
    border: 3px solid var(--color-accent);
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0%   { 
        transform: translateY(0); 
    }
    50%  { 
        transform: translateY(-10px); 
    }
    100% { 
        transform: translateY(0); 
    }
  }

.logo {
    padding: 20px;
    margin-left: 10px;
    font-size: var(--fs-h3);
    border: 3px solid #4ECCA3;
}

.about-img {
    border-radius: 50%;
    /* box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,25),
    0.125em 0.125em 0.25em rgba(0,0,0,15); */
    margin-left: 60;
    padding: 25px;
    width: 30%;
    float: left;
}

.about {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.aboutme-bubble {
    background-color: var(--color-light);
    border-radius: 25px;
    box-shadow: 6px 7px 11px 3px rgba(0, 0, 0, 0.89);
    width: 60%;
    padding: 10px;
}

.aboutme-bubble h1 {
    padding-left: 5px;
}

.aboutme-bubble p {
    width: 90%;
}

.projects {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 15px;
    margin: 0 30px;
}

.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-title {
    display:flex;
    border: 3px solid var(--color-accent);
    max-width: 60%;
    margin: 40px 0;
    padding: 0 30px;
}

.project-img {
    border: solid 3px var(--color-accent);
    transition: transform .2s;
}

.project-img:hover {
   transform: scale(0.8, 0.8);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-button {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #EEEEEE;
    font-size: 18px;
    font-weight: 100;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #393E46;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #4ECCA3 2px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .more-button:hover {
    background: #4ECCA3;
    border: solid #393E46 2px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-decoration: none;
 }

 .contact {
    display: flex; 
    justify-content: center;
    background-color: var(--color-dark)

 }

 .contact-section {
     background-color: #FFF;
 }

 .contact-title {
    font-size: var(--fs-h3);
    text-align: center;
    letter-spacing: 2px;
    border: 3px solid var(--color-accent);
    color: var(--color-light);
    margin: 40px 0;
    padding: 0 50px;
 }

 .contact-form input {
    width: 60%;
    padding: 12px 10px;
    margin: 10px 0;
 }

 .contact-form {
    text-align: center;
    color: #EEEEEE;
    background-color: var(--color-dark);
 }

 #message {
    width: 60%;
    height: 60%;
    padding: 10px;
    margin: 10px;
 }

 .submit-btn,
 .reset-btn {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #EEEEEE;
    font-size: 18px;
    font-weight: 100;
    margin: 10px 5px;
    padding: 10px 20px;
    background-color: #393E46;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #4ECCA3 2px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }

 .submit-btn:hover,
 .reset-btn:hover {
    background: #4ECCA3;
    border: solid #393E46 2px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-decoration: none;
    margin-bottom: 30px;
 }

 .social-logos {
    width: 60px;
    margin: 10px;
 }

 .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
 }

 footer p {
    text-align: center;
    color: var(--color-light);
 }